@import 'partials/reset';
@import 'partials/styles';
@import 'partials/homescreen';
@import 'partials/profile';
@import 'partials/miniprofile';

body {
    background: $ltpink;
    font: 18px/1.6 $jose;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

h1 {
    color: white;
    font-size: 10rem;
    position: absolute;
    text-shadow: 5px 5px #e94177;
}

h2 {
    background: transparentize($pink, .4);
    color: white;
    font-family: $megrim;
    font-size: 1.5rem;
    padding: 0 20px;
}

h3 {
  background: transparentize($pink, .4);
  font: 1.2rem/1.2 $jose;
}

footer {
  background: transparentize($pink, .4);
}

.all-snags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-all-snags-button {
      background: transparentize($pink, .4);
      border: 1px solid $pink;
      border-radius: 10px;
      font-family: $jose;
      font-size: 1.5rem;
      padding: 10px;
      &:hover {
          background-color: $pink;
          color: white;
          transition: 0.5s ease;
      }
  }

  .rate-again-button {
    @extend .show-all-snags-button;
  }
