//colors
$ltpink: #ffd9d9;
$ltred: #cc2929;
$mdred: #990000;
$dkred: #590000;
$maroon: #310808;
$pink: #e94177;
//font
$megrim: 'Megrim', cursive;
$jose: 'Josefin Sans', sans-serif;

.is-hidden {
    display: none;
}

.space-after {
    margin-bottom: 4vh;
}

.no-wrap {
    white-space: nowrap;
}

.mini-photo {
    height: 300px;
    width: 200px;
}

.thumb {
    height: 100px;
    width: 100px;
}

.icon {
    height: 50px;
    width: 50px;
}
.is-green {
  background: green;
}
