.main-content {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin: 35px;
    width: 90%;
    height: 90%;
}

.user-info {
    border: 1px solid black;
    align-items: stretch;
    width: 40%;
    margin: 10px;

    .profile-pic {}
}

.match-info {
    border: 1px solid black;
    width: 40%;
    margin: 10px;

    .random-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid black;
        height: 30%;
        margin: 10px;

        .profile-pic {
            width: 50%;
            height: 100%;
        }
    }
}
